<!DOCTYPE html>  
<html>  
<head>  
    <link rel="stylesheet" href="../static/style.css">
    <title>Add Task</title>  
</head>  
<body>  
    <body>  
        <br>
        <br>
        <center><h1>TASK OPERATIONS</h1></center> 
        <div class="login">
        <form action = "/savedetails" method="post">  
        <table>  
            <tr><td>TASK</td><td><input type="text" name="task"></td></tr>  
            <tr><td>DESCRIPTION</td><td><input type="text" name="description"></td></tr>    
            <tr><td><input type="submit" value="Submit"></td></tr>  
        </table>  
        </form> 
        </div> 
    </body>  
    </html>  